.countryDetails {
    background-color: #2e2e2e;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    border-style: solid;
    width: 30vw;
}

.flag {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-style: groove;
}

@media (prefers-color-scheme: light) {
    .countryDetails {
        background: white;
    }
}