.App {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.country-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.country-list-section {
  background-color: #282c34;
  color: white;
  font-size: medium;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
}

.country-list-section li{
  background-color: #343944;
  border-width: 3px;
  border-radius: 5px;
  margin: 5px 5px;
  list-style-type: none;
}

.country-list-section li:hover{
  background-color: #444c56;
}

.flag {
  width: 50px;
}

.detailed-flag {
  width: 200px;
}